entrada-dados-java/.vscode/settings.json
exercício-soma-de-valores/.vscode/settings.json
calculo-area-triangulo/.vscode/settings.json
calculo-estoque-java/.vscode/settings.json
calculo-retangulo/.vscode/settings.json
calculo-salario/.vscode/settings.json
calculo-nota-trimestre/.vscode/settings.json
calculo-dolar-static/.vscode/settings.json
exercicio-construtor/.vscode/settings.json
exercicio-getter-setter/.vscode/settings.json
exercicio-fixacao-getters-setters/src/Banco.java
primeiro-exercicio-vetores/.vscode/settings.json
segundo-exercicio-vetores/.vscode/settings.json
exercicio-fixacao-vetores-negativos/.vscode/settings.json
exercicio-fixacao-soma-vetores/.vscode/settings.json
exercicio-alturas-vetor/.vscode/settings.json
exercicio-numeros-pares-vetor-java/.vscode/settings.json
exercicio-maior-posicao-vetores/.vscode/settings.json
exercicio-soma-vetores/.vscode/settings.json
exercicio-abaixo-media-vetores/.vscode/settings.json
exercicio-media-pares-vetores/.vscode/settings.json
exercicio-mais-velho-vetores/.vscode/settings.json
exercicio-aprovados-vetores/.vscode/settings.json
exercicio-dados-pessoas-vetor/.vscode/settings.json
exercicio-pensionato-vetores/.vscode/settings.json
demonstracao-list-java/.vscode/settings.json
